extends _index.pug

block state
  - const title = 'Text Editor Rect ' + version
  - const scripts = ['../text-editor/index.min.js', 'index.min.js']

block script
  script
    | Object.assign(TE.prototype, TE.Rect.that);
    |
    | const editor = new TE(document.querySelector('textarea'));

block style
  style
    | * {
    |   box-sizing: border-box;
    | }
    | :root {
    |   background: #fff;
    |   color: #000;
    |   border-top: 4px solid;
    |   font: normal normal 16px/1.25 serif;
    | }
    | a {
    |   color: #009;
    |   text-decoration: none;
    | }
    | a, code {
    |   word-wrap: break-word;
    | }
    | code {
    |   font-family: monospace;
    |   font-size: 80%;
    | }
    | footer, header, main, nav {
    |   max-width: 700px;
    |   margin: 0 auto;
    | }
    | hr {
    |   border: 0;
    |   color: inherit;
    |   border-top: 1px dashed;
    |   height: 0;
    | }
    | pre {
    |   white-space: pre-wrap;
    |   word-wrap: break-word;
    | }
    | pre code {
    |   display: block;
    |   background: #eee;
    |   padding: 1em;
    | }
    | table {
    |   width: 100%;
    | }
    | td, th {
    |   text-align: left;
    |   vertical-align: top;
    | }

block content
  header
    h1= title
    p Rect extension for #[a(href='../text-editor/index.html') text editor].
    hr
    p Provides a feature to get cursor position and selection dimension in pixels.
  main
    p: textarea(spellcheck='false') abcdef
    p: button(onclick='alert(JSON.stringify(editor.rect(), null, 2));') Inspect
    h2 Usage
    h4 Browser
    pre: code
      | &lt;script src="#[a(href='../text-editor/index.min.js' target='_blank') ./text-editor/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='index.min.js' target='_blank') ./text-editor.rect/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script&gt;
      | Object.assign(TE.prototype, TE.Rect.that);
      | &lt;/script&gt;
    h4 CommonJS
    pre: code
      | const TE = require('@taufik-nurrohman/text-editor');
      | const {that} = require('@taufik-nurrohman/text-editor.rect');
      |
      | Object.assign(TE.prototype, that);
    h4 ECMAScript
    pre: code
      | import TE from '@taufik-nurrohman/text-editor';
      | import {that} from '@taufik-nurrohman/text-editor.rect';
      |
      | Object.assign(TE.prototype, that);
    h2 Examples
    ul
      li: a(href='tweak/caret.html' target='_blank') Custom Caret Example
      li: a(href='tweak/tools.html' target='_blank') Floating Tools Example
    h2 Methods and Properties
    h3 editor.mirror
    p Return a #[code &lt;div&gt;] element that mirrors the #[code &lt;textarea&gt;] element.
    h3 editor.rect(key)
    p Get current selection offset and dimension data.
    pre: code
      | // [&lt;selection start&gt;, &lt;selection end&gt;, &lt;selection as rectangle&gt;, &lt;the editor&gt;]
      |
      | // h: height
      | // w: width
      | // x: left
      | // y: top
  footer
    hr
    p
      != '&copy; ' + year + ' '
      a(href='/') Taufik Nurrohman
