extends ../_index.pug

block state
  - const title = 'Text Editor Rect'
  - const scripts = ['../../text-editor/index.min.js', '../index.min.js']

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'), {
    |     with: [TextEditor.Rect]
    | });
    | const blocks = document.querySelector('.tools-block');
    | const lines = document.querySelector('.tools-line');
    |
    | function hideTools() {
    |     blocks.style.display = "";
    |     lines.style.display = "";
    | }
    |
    | function showTools() {
    |     hideTools();
    |     setTimeout(() => {
    |         let {after, before, value} = editor.$();
    |         if (value) {
    |             let rect = editor.rect();
    |             lines.style.display = 'block';
    |             lines.style.left = rect[0].x + 'px';
    |             lines.style.top = rect[0].y + 'px';
    |         } else if (!value && (
    |             !after ||
    |             !before ||
    |             '\n' === after.slice(0, 1) && '\n' === before.slice(-1)
    |         ) || null === editor.get()) {
    |             let rect = editor.rect();
    |             blocks.style.display = 'block';
    |             blocks.style.left = rect[0].x + 'px';
    |             blocks.style.top = rect[0].y + 'px';
    |         }
    |     }, 1);
    | }
    |
    | editor.on('caret.up', showTools);
    | editor.on('key.down', showTools);
    |
    | blocks.addEventListener('click', hideTools, false);
    | lines.addEventListener('click', hideTools, false);

block style
  style
    | .tools-block,
    | .tools-line {
    |   background: #fff;
    |   border: 1px solid;
    |   box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.5);
    |   display: none;
    |   left: 0;
    |   padding: 0.25em;
    |   position: absolute;
    |   top: 0;
    | }

block content
  main
    p.tools-block
      button(onclick='editor.trim(\'\\n\\n\', \'\').insert(\'---\\n\\n\', -1, true);'): span!= '➖'
      = ' '
      button(onclick='let v=prompt(\'Image URL:\',\'http://\'); v && editor.trim(\'\\n\\n\').insert(\'![1](\' + v + \')\\n\\n\', -1, true);'): span!= '🖼'
    p.tools-line
      button(onclick='editor.wrap(\'**\', \'**\')'): b B
      = ' '
      button(onclick='editor.wrap(\'_\', \'_\')'): i I
    p: textarea(cols='100' rows='20' spellcheck='false' style={
      'line-height': '1.25em'
    })
      | The MIT License (MIT)
      |
      | Copyright © %(year) Taufik Nurrohman
      |
      | Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
      |
      | The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
      |
      | THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      |
      | a
      | b
      | c
      | d