extends _index.pug

block state
  - const scripts = ['../text-editor/index.min.js', 'index.min.js']
  - const styles = ['../layout/index.min.css']
  - const theme = '#000'
  - const title = 'Text Editor: Rect ' + version

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'), {
    |     with: [TextEditor.Rect]
    | });

block style
  style
    | :root {
    |   border-top: 5px solid #00f;
    | }
    |
    | @media (min-width: 45rem) {
    |   :root {
    |     padding-bottom: 3rem;
    |     padding-top: 3rem;
    |   }
    |   body > * {
    |     margin-left: auto;
    |     margin-right: auto;
    |     max-width: 45rem;
    |   }
    | }

block content
  header
    h1= title
    p Rect extension for #[a(href='../text-editor/index.html') text editor].
    hr
    p Provides a feature to get cursor position and selection dimension in pixels.
  main
    p: textarea#in(placeholder!='Type something&hellip;' spellcheck='false' style={
      'display': 'block',
      'width': '100%',
    }) abcdef
    p(role='group')
      button(onclick='alert(JSON.stringify(editor.rect(), null, 2));') Inspect
    h2 Usage
    h4 Browser
    pre: code
      | &lt;script src="#[a(href='../text-editor/index.min.js' target='_blank') ./text-editor/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='index.min.js' target='_blank') ./text-editor.rect/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script&gt;
      |   const editor = new TextEditor(document.querySelector('textarea'), {
      |       with: [TextEditor.Rect]
      |   });
      | &lt;/script&gt;
    h4 CommonJS
    pre: code
      | const TextEditor = require('@taufik-nurrohman/text-editor').default;
      | const TextEditorRect = require('@taufik-nurrohman/text-editor.rect').default;
      |
      | TextEditor.state.with.push(TextEditorRect); // Load as a core extension
      |
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     with: [TextEditorRect] // Load as an optional extension
      | });
    h4 ECMAScript
    pre: code
      | import TextEditor from '@taufik-nurrohman/text-editor';
      | import TextEditorRect from '@taufik-nurrohman/text-editor.rect';
      |
      | TextEditor.state.with.push(TextEditorRect); // Load as a core extension
      |
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     with: [TextEditorRect] // Load as an optional extension
      | });
    h2 Examples
    ul
      li: a(href='tweak/caret.html' target='_blank') Custom Caret Example
      li: a(href='tweak/tools.html' target='_blank') Floating Tools Example
    h2 Methods and Properties
    h3: code editor.mirror
    p Return a #[code &lt;div&gt;] element that mirrors the #[code &lt;textarea&gt;] element.
    h3: code editor.rect(key)
    p Get current selection offset and dimension data.
    pre: code
      | // [&lt;selection start&gt;, &lt;selection end&gt;, &lt;selection as rectangle&gt;, &lt;the editor&gt;]
      |
      | // h: height
      | // w: width
      | // x: left
      | // y: top
  footer
    hr
    p
      != '&copy; ' + year + ' '
      a(href='/') Taufik Nurrohman